* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

.grid {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: auto;
	grid-template-areas:
		"image"
		"title"
		"sharing"
		"article"
		"info"
		"footer";
}

img {
	max-width: 100%;
}

.image {
	grid-area: image;
	margin: 0;
	padding: 0;
}

#bike {
	max-width: 100%;
	height: auto;
	display: block;
}

.title {
	grid-area: title;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	padding: 5px;
	min-height: 50px;
	background-color: #F44708;
}

.sharing {
	grid-area: sharing;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #688E26;
}

.btn {
	font-size: 16px;
	width: 30%;
	padding: 3px;
	margin: 5px;
	border: 1px solid #666;
	background-color: #688E26;
	border-radius: 6px;
}

.btn:hover {
	color: #688E26;
	background-color: #111;
}

.article {
	grid-area: article;
	padding: 8px;
	text-align: justify;
	background-color: #FAA613;
}

.info {
	grid-area: info;
	display: grid;
	grid-template-columns: 30vw 70vw;
	grid-template-rows: auto;
	grid-template-areas:
		"photo bio";
	background-color: #666683 /*#A10702*/;
}

#bill {
	grid-area: photo;
	border-radius: 6px;
}

#bio {
	grid-area: bio;
	margin-top: auto;
	margin-bottom: auto;
	padding: 8px;
	text-align: justify;
}


.footer {
	grid-area: footer;
	text-align: center;
	font-size: 12px;
	background-color: #550527;
	color: white;
	min-height: 27px;
	display: block;
}

.footer > p {
	padding-top: 5px;
	letter-spacing: 5px;
}